.taskBar {
        -fx-background-color:   linear-gradient(to bottom, rgba(23,23,23,0.8) 10%, rgba(55,55,55,1) 49%);
        -fx-border-color: #000000;
        -fx-faint-focus-color: transparent;
        -fx-focus-color: transparent;
        -fx-background-insets: 0, 0, 1, 2;
}

.controlButtons{
        -fx-background-color: transparent;
}

.taskBarIcon{
        -fx-background-color:  #090a0c, linear-gradient(#38424b 10%, #1f2429 30%, #191d22 100%);
        -fx-background-radius: 8,7,6;
        -fx-background-insets: 0,1,2;
        -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.titleText{
       -fx-font-weight: bold;
       -fx-text-fill: white;
}

.mdiWindow{
        -fx-border-color: #000000;
        -fx-background-radius: 10 10 0 0;
        -fx-border-radius: 10 10 0 0;
}

.mdiWindowTitleBar{
        -fx-background-color: #090a0c, linear-gradient(#5C6D7C 10%, #222222 30%, #424D59 100%);
        -fx-border-color: transparent transparent #C4C4C4 transparent;
        -fx-background-radius: 10 10 0 0;
        -fx-border-radius: 10 10 0 0;
}

.mdiCanvasContainer{
        -fx-background-color: rgb(100,100,100);
}